<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link" href="/listings">
          <div class="explore-nav">
            <i class="fa-solid fa-map-location-dot"></i>&nbsp;Explore
          </div>
        </a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search destinations" />
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <div class="navbar-nav ms-auto side-nav">
        <a class="nav-link" href="/listings/new">
          <div class="new-listing">
            <i class="fa-solid fa-plus"></i>&nbsp;Add new Listing
          </div>
        </a>
        <% if(!currUser) {%>
          <div class="regis">
            <div class="regis-content">
              <a class="nav-link " aria-current="page" href="/signup"><b>Sign Up</b></a>
            </div>
            <div class="regis-content">
              <b class="divide">|</b>
            </div>
            <div class="regis-content">
              <a class="nav-link" href="/login"><b>Log In</b></a>
            </div>
          </div>
          <% }%>
            <%if(currUser){%>
              <a class="nav-link logout" href="/logout"><b>Log Out</b></a>
              <% } %>
      </div>
    </div>
  </div>
</nav>
