<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h2 class="mt-3">Create new listing</h2>
                <form method="post" action="http://localhost:8080/listings/" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" placeholder="Enter listing name" class="form-control" required>
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Enter listing title!</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea rows="10" cols="50" name="description" placeholder="Enter listing description"
                            class="form-control" required></textarea>
                        <div class="valid-feedback">Description looks good!</div>
                        <div class="invalid-feedback">Enter listing description</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label" required>Upload Image</label>
                        <input type="file" name="image" class="form-control">
                        <div class="valid-feedback">URL looks good!</div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="price" placeholder="Enter listing price" class="form-control"
                                required>
                            <div class="valid-feedback">Price looks good!</div>
                            <div class="invalid-feedback">Enter listing price</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="country" placeholder="Enter listing country" class="form-control"
                                required>
                            <div class="valid-feedback">Country looks good!</div>
                            <div class="invalid-feedback">Enter listing country</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="location" placeholder="Enter listing location" class="form-control"
                            required>
                        <div class="valid-feedback">Location looks good!</div>
                        <div class="invalid-feedback">Enter listing location</div>
                    </div>
                    <button type="submit" class="btn btn-dark mb-3 add-btn">Add</button>
                </form>
            </div>
        </div>
    </body>

    </html>
